.footer {
  background-color: #272422;
  padding: 1.5rem 1.5rem 2rem 1.5rem;

  &__group {
  }

  &__logo {
  }

  &__title {
    color: $color-white;
    font-size: 1.7rem;
  }

  &__info {
    // width: 20rem;
    color: $color-white;
    font-size: 1.5rem;
  }

  &__copyright {
    // width: 15rem;
    color: $color-white;
    font-size: 1.2rem;
  }
}
