.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    background-size: auto;

    &--main {
      background-image: url(../img/hero_img-2.jpg);
      background-position: 30% 0%;
    }

    &--split {
      background-image: url(../img/split_img-l.jpg);
      background-position: center;
    }

    &--korcula {
      background-image: url(../img/korcula.jpg);
      background-position: center;
    }

    &--omis {
      background-image: url(../img/omis.jpg);
      background-position: center;
    }
  }

  &__text {
    // width: 100%;
    margin: 0 1rem 0 1rem;
    text-align: center;
  }

  &__button {
    display: block;
    animation: moveInBottom 1s ease-out;
  }

  &__logo {
    display: flex;
    align-content: center;
    width: 100%;
  }
}
