.legend {
  padding: 1.5rem;

  &__inner {
    background-color: $color-quinary;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1.5rem;
    justify-content: space-around;

    @media screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  &__group {
    display: flex;
    align-items: center;

    > h3 {
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin: 0 0.5rem 0 0.5rem;
    // max-width: 8rem;
  }
}
