.logo {
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
  background: url(../img/logo.svg) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  // cursor: pointer;

  &--inverted {
    background: url(../img/logo_inverted.svg) 0 no-repeat;
  }
}
