* {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

*,
*::before,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: url(/img/background3.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;

  transition-property: all;
  transition-duration: 1s;
  transition-behavior: allow-discrete;

  min-height: 100vh;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

// a[href^="tel"] {
//   color: inherit; /* Inherit text color of parent element. */
//   text-decoration: none; /* Remove underline. */
//   /* Additional css `propery: value;` pairs here */
// }

.comingsoon {
  background-color: $color-primary;
  height: 100vh;
  display: flex;
  // justify-content: center;
  // align-content: center;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 7rem;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
  }
}

.nooffers {
  background-color: $color-primary;
  width: 100%;
  display: flex;
  // justify-content: center;
  // align-content: center;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 4rem;
    padding: 10rem;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
  }
}
